In [18]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')
from config import pg_password

ModuleNotFoundError: No module named 'config'

## Reading in CSV files into DataFrames

In [2]:
# Create path to csv 
fixed_telephone = "fixed_telephone_subcriptions/API.csv"
mobile_cellular = "mobile_cellular_subcriptions/mobile_cellular.csv"

In [3]:
# Create variable using .read_csv in from path
fixed_df = pd.read_csv(fixed_telephone)
mobile_df = pd.read_csv(mobile_cellular)

In [4]:
# Display fixed_df 
fixed_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Fixed telephone subscriptions,IT.MLT.MAIN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,36000.0,35000.0,35000.0,35000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Fixed telephone subscriptions,IT.MLT.MAIN,7700.0,NaN,NaN,NaN,NaN,9300.0,...,13509.0,90017.0,95769.0,101931.0,110000.0,114192.0,118769.0,127794.0,134636.0,NaN
2,Angola,AGO,Fixed telephone subscriptions,IT.MLT.MAIN,6666.0,NaN,NaN,NaN,NaN,10000.0,...,159485.0,208345.0,214950.0,287416.0,284925.0,304493.0,161070.0,171858.0,124726.0,NaN
3,Albania,ALB,Fixed telephone subscriptions,IT.MLT.MAIN,6845.0,NaN,NaN,NaN,NaN,13991.0,...,338844.0,312000.0,281200.0,235734.0,226718.0,248640.0,246720.0,248631.0,242859.0,NaN
4,Andorra,AND,Fixed telephone subscriptions,IT.MLT.MAIN,NaN,NaN,NaN,NaN,NaN,500.0,...,38401.0,38320.0,38572.0,38237.0,38850.0,38694.0,38411.0,39375.0,39657.0,NaN

In [5]:
# Display mobile_df
mobile_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,135000.0,138800.0,139700.0,141000.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,13797879.0,15340115.0,16807156.0,18407168.0,19709038.0,21602982.0,23929713.0,21976355.0,22580071.0,NaN
2,Angola,AGO,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,12073218.0,12785109.0,13285198.0,14052558.0,13884532.0,13001124.0,13323952.0,13288421.0,14830154.0,NaN
3,Albania,ALB,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,3100000.0,3500000.0,3685983.0,3359654.0,3400955.0,3369756.0,3625699.0,2714878.0,2630076.0,NaN
4,Andorra,AND,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,65044.0,63865.0,63931.0,66241.0,71336.0,76132.0,80337.0,82614.0,87909.0,NaN

## Cleaning DataFrames

In [6]:
# Using .loc to pull only USA data for usa_fixed_df
usa_fixed_df = fixed_df.loc[fixed_df["Country Code"] == "USA"]
usa_fixed_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,USA,Fixed telephone subscriptions,IT.MLT.MAIN,49269000.0,NaN,NaN,NaN,NaN,58289000.0,...,143319000.0,138595000.0,133233000.0,128495000.0,124848000.0,121343000.0,116297000.0,110439000.0,107281000.0,NaN

In [7]:
# Using drop() along with .loc to drop columns from 1960 to 2004 data for usa_fixed_df
usa_fixed_df.drop(usa_fixed_df.iloc[:, 4:49], inplace = True, axis = 1)
usa_fixed_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,USA,Fixed telephone subscriptions,IT.MLT.MAIN,175160940.0,167459899.0,158418151.0,162763000.0,152873000.0,149652000.0,143319000.0,138595000.0,133233000.0,128495000.0,124848000.0,121343000.0,116297000.0,110439000.0,107281000.0,NaN

In [8]:
# Using .loc to pull only USA data for usa_mobile_df
usa_mobile_df = mobile_df[mobile_df["Country Code"] == "USA"]
usa_mobile_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,USA,Mobile cellular subscriptions,IT.CEL.SETS,0.0,NaN,NaN,NaN,NaN,0.0,...,297404000.0,304838000.0,310698000.0,355500000.0,382307000.0,396000000.0,400000000.0,422000000.0,NaN,NaN

In [9]:
# Using drop() along with .loc to drop columns from 1960 to 2004 data for usa_mobile_df
usa_mobile_df.drop(usa_mobile_df.iloc[:, 4:49], inplace = True, axis = 1)
usa_mobile_df

,Country Name,Country Code,Indicator Name,Indicator Code,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
249,United States,USA,Mobile cellular subscriptions,IT.CEL.SETS,203700000.0,229600000.0,249300000.0,261300000.0,274283000.0,285118000.0,297404000.0,304838000.0,310698000.0,355500000.0,382307000.0,396000000.0,400000000.0,422000000.0,NaN,NaN

## Merging both Dataframes

In [10]:
# Merge both DataFrames on "Country Name", make sure to use suffixes to lable columns
merged_df = pd.merge(usa_fixed_df, usa_mobile_df, on="Country Name", suffixes=("Fixed Cellular","Mobile Cellular"))
merged_df

,Country Name,Country CodeFixed Cellular,Indicator NameFixed Cellular,Indicator CodeFixed Cellular,2005Fixed Cellular,2006Fixed Cellular,2007Fixed Cellular,2008Fixed Cellular,2009Fixed Cellular,2010Fixed Cellular,...,2011Mobile Cellular,2012Mobile Cellular,2013Mobile Cellular,2014Mobile Cellular,2015Mobile Cellular,2016Mobile Cellular,2017Mobile Cellular,2018Mobile Cellular,2019Mobile Cellular,2020Mobile Cellular
0,United States,USA,Fixed telephone subscriptions,IT.MLT.MAIN,175160940.0,167459899.0,158418151.0,162763000.0,152873000.0,149652000.0,...,297404000.0,304838000.0,310698000.0,355500000.0,382307000.0,396000000.0,400000000.0,422000000.0,NaN,NaN

In [11]:
# Using list on columns to clarify how name is displayed. This helped us solve our column name issue.
list(merged_df.columns)

['Country Name',
 'Country CodeFixed Cellular',
 'Indicator NameFixed Cellular',
 'Indicator CodeFixed Cellular',
 '2005Fixed Cellular',
 '2006Fixed Cellular',
 '2007Fixed Cellular',
 '2008Fixed Cellular',
 '2009Fixed Cellular',
 '2010Fixed Cellular',
 '2011Fixed Cellular',
 '2012Fixed Cellular',
 '2013Fixed Cellular',
 '2014Fixed Cellular',
 '2015Fixed Cellular',
 '2016Fixed Cellular',
 '2017Fixed Cellular',
 '2018Fixed Cellular',
 '2019Fixed Cellular',
 '2020Fixed Cellular',
 'Country CodeMobile Cellular',
 'Indicator NameMobile Cellular',
 'Indicator CodeMobile Cellular',
 '2005Mobile Cellular',
 '2006Mobile Cellular',
 '2007Mobile Cellular',
 '2008Mobile Cellular',
 '2009Mobile Cellular',
 '2010Mobile Cellular',
 '2011Mobile Cellular',
 '2012Mobile Cellular',
 '2013Mobile Cellular',
 '2014Mobile Cellular',
 '2015Mobile Cellular',
 '2016Mobile Cellular',
 '2017Mobile Cellular',
 '2018Mobile Cellular',
 '2019Mobile Cellular',
 '2020Mobile Cellular']

## Transforming Tables

In [12]:
# Create a variable for "Country Name", "Fixed Cellular", and "Mobile Cellular" from 2005 - 2009
year_2005_2009_cols = ["Country Name", "2005Fixed Cellular", "2006Fixed Cellular", "2007Fixed Cellular", "2008Fixed Cellular", "2009Fixed Cellular", "2005Mobile Cellular", "2006Mobile Cellular", "2007Mobile Cellular", "2008Mobile Cellular", "2009Mobile Cellular"]
# Create Dataframe for only 2005-2009 data with .copy()
year_2005_2009 = merged_df[year_2005_2009_cols].copy()
# Dispay to confirm data
year_2005_2009.set_index("Country Name")

,2005Fixed Cellular,2006Fixed Cellular,2007Fixed Cellular,2008Fixed Cellular,2009Fixed Cellular,2005Mobile Cellular,2006Mobile Cellular,2007Mobile Cellular,2008Mobile Cellular,2009Mobile Cellular
Country Name,,,,,,,,,,
United States,175160940.0,167459899.0,158418151.0,162763000.0,152873000.0,203700000.0,229600000.0,249300000.0,261300000.0,274283000.0

In [32]:
# Create a variable for "Country Name", "Fixed Cellular", and "Mobile Cellular" from 2010 - 2014
year_2010_2014_cols = ["Country Name", "2010Fixed Cellular", "2011Fixed Cellular", "2012Fixed Cellular", "2013Fixed Cellular", "2014Fixed Cellular", "2010Mobile Cellular", "2011Mobile Cellular", "2012Mobile Cellular", "2013Mobile Cellular", "2014Mobile Cellular"]
# Create Dataframe for only 2010-2014 data with .copy()
year_2010_2014 = merged_df[year_2010_2014_cols].copy()
# Dispay to confirm data
year_2010_2014

,Country Name,2010Fixed Cellular,2011Fixed Cellular,2012Fixed Cellular,2013Fixed Cellular,2014Fixed Cellular,2010Mobile Cellular,2011Mobile Cellular,2012Mobile Cellular,2013Mobile Cellular,2014Mobile Cellular
0,United States,149652000.0,143319000.0,138595000.0,133233000.0,128495000.0,285118000.0,297404000.0,304838000.0,310698000.0,355500000.0

In [33]:
# Create a variable for "Country Name", "Fixed Cellular", and "Mobile Cellular" from 2015 - 2018
year_2015_2018_cols = ["Country Name", "2015Fixed Cellular", "2016Fixed Cellular", "2017Fixed Cellular", "2018Fixed Cellular", "2015Mobile Cellular", "2016Mobile Cellular", "2017Mobile Cellular", "2018Mobile Cellular"]
# Create Dataframe for only 2015-2018 data with .copy()
year_2015_2018 = merged_df[year_2015_2018_cols].copy()
# Dispay to confirm data
year_2015_2018

,Country Name,2015Fixed Cellular,2016Fixed Cellular,2017Fixed Cellular,2018Fixed Cellular,2015Mobile Cellular,2016Mobile Cellular,2017Mobile Cellular,2018Mobile Cellular
0,United States,124848000.0,121343000.0,116297000.0,110439000.0,382307000.0,396000000.0,400000000.0,422000000.0

## Load data to Postgresql

In [16]:
# Make connection to telecommunication_db in postgresql
connection_string = "postgres:{pg_password}@localhost:5432/telecommunication_db"
engine = create_engine(f'postgresql://{connection_string}')

In [17]:
# Display table_names() from telecommunication_db
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "postgres"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [15]:
# load year_2005_2009 DataFrame to postgresql
year_2005_2009.to_sql(name='year_2005_2009', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "year_2005_2009" does not exist
LINE 1: INSERT INTO year_2005_2009 (index, "Country Name", "2005Fixe...
                                    ^

[SQL: INSERT INTO year_2005_2009 (index, "Country Name", "2005Fixed Cellular", "2006Fixed Cellular", "2007Fixed Cellular", "2008Fixed Cellular", "2009Fixed Cellular", "2005Mobile Cellular", "2006Mobile Cellular", "2007Mobile Cellular", "2008Mobile Cellular", "2009Mobile Cellular") VALUES (%(index)s, %(Country Name)s, %(2005Fixed Cellular)s, %(2006Fixed Cellular)s, %(2007Fixed Cellular)s, %(2008Fixed Cellular)s, %(2009Fixed Cellular)s, %(2005Mobile Cellular)s, %(2006Mobile Cellular)s, %(2007Mobile Cellular)s, %(2008Mobile Cellular)s, %(2009Mobile Cellular)s)]
[parameters: {'index': 0, 'Country Name': 'United States', '2005Fixed Cellular': 175160940.0, '2006Fixed Cellular': 167459899.0, '2007Fixed Cellular': 158418151.0, '2008Fixed Cellular': 162763000.0, '2009Fixed Cellular': 152873000.0, '2005Mobile Cellular': 203700000.0, '2006Mobile Cellular': 229600000.0, '2007Mobile Cellular': 249300000.0, '2008Mobile Cellular': 261300000.0, '2009Mobile Cellular': 274283000.0}]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [37]:
# load year_2010_2014 DataFrame to postgresql
year_2010_2014.to_sql(name='year_2010_2014', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "year_2010_2014" does not exist
LINE 1: INSERT INTO year_2010_2014 (index, "Country Name", "2010Fixe...
                                    ^

[SQL: INSERT INTO year_2010_2014 (index, "Country Name", "2010Fixed Cellular", "2011Fixed Cellular", "2012Fixed Cellular", "2013Fixed Cellular", "2014Fixed Cellular", "2010Mobile Cellular", "2011Mobile Cellular", "2012Mobile Cellular", "2013Mobile Cellular", "2014Mobile Cellular") VALUES (%(index)s, %(Country Name)s, %(2010Fixed Cellular)s, %(2011Fixed Cellular)s, %(2012Fixed Cellular)s, %(2013Fixed Cellular)s, %(2014Fixed Cellular)s, %(2010Mobile Cellular)s, %(2011Mobile Cellular)s, %(2012Mobile Cellular)s, %(2013Mobile Cellular)s, %(2014Mobile Cellular)s)]
[parameters: {'index': 0, 'Country Name': 'United States', '2010Fixed Cellular': 149652000.0, '2011Fixed Cellular': 143319000.0, '2012Fixed Cellular': 138595000.0, '2013Fixed Cellular': 133233000.0, '2014Fixed Cellular': 128495000.0, '2010Mobile Cellular': 285118000.0, '2011Mobile Cellular': 297404000.0, '2012Mobile Cellular': 304838000.0, '2013Mobile Cellular': 310698000.0, '2014Mobile Cellular': 355500000.0}]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [38]:
# load year_2015_2018 DataFrame to postgresql
year_2015_2018.to_sql(name='year_2015_2018', con=engine, if_exists='append', index=True)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "index" of relation "year_2015_2018" does not exist
LINE 1: INSERT INTO year_2015_2018 (index, "Country Name", "2015Fixe...
                                    ^

[SQL: INSERT INTO year_2015_2018 (index, "Country Name", "2015Fixed Cellular", "2016Fixed Cellular", "2017Fixed Cellular", "2018Fixed Cellular", "2015Mobile Cellular", "2016Mobile Cellular", "2017Mobile Cellular", "2018Mobile Cellular") VALUES (%(index)s, %(Country Name)s, %(2015Fixed Cellular)s, %(2016Fixed Cellular)s, %(2017Fixed Cellular)s, %(2018Fixed Cellular)s, %(2015Mobile Cellular)s, %(2016Mobile Cellular)s, %(2017Mobile Cellular)s, %(2018Mobile Cellular)s)]
[parameters: {'index': 0, 'Country Name': 'United States', '2015Fixed Cellular': 124848000.0, '2016Fixed Cellular': 121343000.0, '2017Fixed Cellular': 116297000.0, '2018Fixed Cellular': 110439000.0, '2015Mobile Cellular': 382307000.0, '2016Mobile Cellular': 396000000.0, '2017Mobile Cellular': 400000000.0, '2018Mobile Cellular': 422000000.0}]
(Background on this error at: http://sqlalche.me/e/13/f405)

## Read in tables from Postgresql

In [39]:
# Read in year_2005_2009 table from postgresql
pd.read_sql_query('SELECT * FROM year_2005_2009', con=engine)

Empty DataFrame
Columns: [id, Country Name, 2005Fixed Cellular, 2006Fixed Cellular, 2007Fixed Cellular, 2008Fixed Cellular, 2009Fixed Cellular, 2005Mobile Cellular, 2006Mobile Cellular, 2007Mobile Cellular, 2008Mobile Cellular, 2009Mobile Cellular]
Index: []

In [40]:
# Read in year_2010_2014 table from postgresql
pd.read_sql_query('SELECT * FROM year_2010_2014', con=engine)

Empty DataFrame
Columns: [id, country_name, 2010Fixed Cellular, 2011Fixed Cellular, 2012Fixed Cellular, 2013Fixed Cellular, 2014Fixed Cellular, 2010Mobile Cellular, 2011Mobile Cellular, 2012Mobile Cellular, 2013Mobile Cellular, 2014Mobile Cellular]
Index: []

In [41]:
# Read in year_2015_2018 table from postgresql
pd.read_sql_query('SELECT * FROM year_2015_2018', con=engine)

Empty DataFrame
Columns: [id, country_name, 2015Fixed Cellular, 2016Fixed Cellular, 2017Fixed Cellular, 2018Fixed Cellular, 2015Mobile Cellular, 2016Mobile Cellular, 2017Mobile Cellular, 2018Mobile Cellular]
Index: []